(ns aoc-%>year<%.day-%>day<%
  (:require [clojure.string :as string]
            [aoc-utils :as u]))

;; --- Day %>day<%:  --- https://adventofcode.com/%>year<%/day/%>day<%

(def task-input
  (u/slurp-resource "inputs/aoc_%>year<%/day-%>day<%.txt"))





(comment
  ;; Part 1

  ;; Part 2

  )
